// Specific CSS for your home-page

.information {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    align-content: center;
}

.container {
    position: relative;
    min-height: 100%;
}

.contact {
    width: 500px;
    height: 300px;
}

.logo {
    width: 60px;
    height: 40px;
}

#somos {
    margin-top: 30px;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    font-family: Tahoma;
}

.full-content {
    display: flex;
}

.somos-photo {
    height: 550px;
}

.content {
    margin-left: 20px;
}